body {
    background-color: hsl(257, 40%, 49%);
    background-image: url("../images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.75;
    margin-bottom: 0;
}

.middle {
    position: relative;
}

.content {
}

.logo {
    padding: 75px 0 90px 125px;
}

.mockups {
    padding: 0 75px;
    float: left;
}

.header {
    position: relative;
    top: 30px;
}

.btn {
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 13px 45px;
    border-radius: 75px;
    box-shadow: 5px 8px 15px -5px black;
}

.btnmarg {
    margin-top: 100px;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.icons {
    height: 50px;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.earth {
    position: absolute;
    right: 150px;
}

.person {
    right: 85px;
    position:absolute;
}

.icon-container {
    width: 100%;
}

.page-container {
    position: relative;
    min-height: 100vh;
}
